@model PageSelectModel

<nav class="pageselect">
    <menu>
        @{
            int currentYear = 0;
            if (ViewData.TryGetValue(Constants.SelectedYearViewData, out object? currentYearBox) && currentYearBox != null) {
                currentYear = (int) currentYearBox;
            }
        }

        <li class="@(currentYear == 0 ? "selected" : "")">
            <div>
                @* TODO this causes issues when proxying behind a path base. *@
                <a href="/">All</a>
            </div>
        </li>
        @for (int i = Model.MinYear; i <= Model.MaxYear; i++) {
            <li class="@(currentYear == i ? "selected" : "")">
                <div>
                    <a href="/year/@i">@i</a>
                </div>
            </li>
        }
    </menu>
</nav>
