html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 3em;
}


footer {
  padding-top: 1em;
}

.nsfw-warning-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  backdrop-filter: blur(20px);
}

.nsfw-warning {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#fullscreenview.open ~ .nsfw-warning-container {
  backdrop-filter: blur(50px);
}




.artitems {
  
}

.artitems > ol {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1em;

  list-style: none;
  margin: 0;
  padding: 0;
}

.artitems > ol > li {
  display: block;
  min-height: 15em;
  width: 15em;
}

.artitem figcaption {
  text-align: center;
}

.artitem img {
  height: 15em;
  width: 15em;
  object-fit: contain;
}

.artitem .title {
  /* want to include this data in the page (for now), but displaying it on the list makes it uglier */
  display: none;
}



#fullscreenview {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-top: 2em;

  transition: background-color 0.3s;
}

#fullscreenview.open {
  background-color: rgba(0, 0, 0, 0.875);
}

#fullscreenview.closed {
  background-color: rgba(0, 0, 0, 0);
}

#fullscreenview.fullyClosed {
  visibility: hidden;
}

#fullscreenview #fsv_center {
  
}

#fullscreenview figure {
  display: block;
  max-width: 100%;
  max-height: 90vh;
  
  transition: transform 0.3s;
}

#fullscreenview.open figure {
  transform: scale(1);
}

#fullscreenview.closed figure {
  transform: scale(0);
}

#fullscreenview img {
  width: auto;
  height: auto;
  max-width: 90vw;
  max-height: 70vh;
  object-fit: contain;
}

.socialicon {
  height: 1em;
}

.socials {
  list-style: none;
}
