@page
@using ArtGallery.Frontend
@model IndexModel

<partial name="PageSelect" model="new PageSelectModel() {
             MinYear = Model.MinYear,
             MaxYear = Model.MaxYear,
         }" />

<!--
<nav class="artistselect">
    <menu>
        @foreach (Artist artist in Model.ArtCollection.Artists) {
            <li>
                <a href="#artist-@artist.Name">@artist.Name</a>
            </li>
        }
    </menu>
</nav>
-->

<main role="main">
    @foreach (Artist artist in Model.ArtCollection.Artists) {
        <section>
            <h3 id="artist-@artist.Name">@artist.Name</h3>
            <partial name="Shared/ArtistSocials" model="artist.Socials" />
            <partial name="Shared/ArtList" model="
                new ArtListModel() {
                    ArtItems = artist.ArtItems.Select(ai => new ArtListItem {
                        Date = ai.Date,
                        Title = ai.Title,
                        Description = ai.Description,
                        Path = ai.Path,
                        Thumbnails = ai.Thumbnails,
                        ArtistName = artist.Name,
                        ArtistSocials = artist.Socials,
                    }),
                }"/>
        </section>
    }
</main>

<partial name="PageSelect" model="new PageSelectModel() {
             MinYear = Model.MinYear,
             MaxYear = Model.MaxYear,
         }" />

<partial name="Shared/FullscreenView" />

@if (Model.ShowNsfwWarning) {
    <partial name="Shared/NsfwWarning" />
}
