@page
@using ArtGallery.Frontend
@model IndexModel

<main role="main">
    @foreach (Artist artist in Model.ArtCollection.Artists) {
        <section>
            <h3>@artist.Name</h3>
            <partial name="Shared/ArtistSocials" model="artist.Socials" />
            <partial name="Shared/ArtList" model="
                new ArtListModel() {
                    ArtItems = artist.ArtItems.Select(ai => new ArtListItem {
                        Date = ai.Date,
                        Title = ai.Title,
                        Description = ai.Description,
                        Path = ai.Path,
                        Thumbnails = ai.Thumbnails,
                        ArtistName = artist.Name,
                        ArtistSocials = artist.Socials,
                    }),
                }"/>
        </section>
    }
</main>

<partial name="Shared/FullscreenView" />

@if (Model.ShowNsfwWarning) {
    <partial name="Shared/NsfwWarning" />
}
